html,
body{
   height: 100%;
   margin: 0;
   background-color: $light;
   overflow-x: hidden;
}

ul{
    list-style: none;
    padding-left: 0;
}

.container-layout{
    max-width: 100%;
    flex: 1;
    padding: 0;
}

#root{
    display: flex;
    flex-direction: column;
    height: 100%;
}

header{
    position: sticky;
    top: 0;
    background-color: #fff; 
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.nav-item{
    font-size: 20px;
}
.venue-btn{
    background-color:#008080
}

.nav-link{
    color:#008080;
    
}

.nav-link:hover, .nav-item:hover{
    text-decoration: none;
}

.logo{
    margin-left: 30px;
}

.logo-img{
    width: 200px;
}

.left{
    margin-right: 250px;
}

footer{
    flex-shrink: 0;
    background-color: #008080;
    color:white;
    font-size: 13px;
    display: flex;
    justify-content: center;
    padding: 0.5em;
    margin-bottom: 5px;
}

.search-form input{
    width: 60%;
}

.hamburger {
    display: none;
    font-size: 2rem;
    color:#008080;
    cursor: pointer;
  }
  
  /* Mobile menu (hidden by default) */
  .menu {
    display: flex;
  }
  
  .menu.open {
    display: block;
  }

   @media(max-width:1070px){
    .left{
        margin-right: 100px;
    }
   }

  @media (max-width: 920px) {
    .nav {
      display: none;
    }
  
    .menu.open .nav{
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 60px;
      left: 0;
      background-color: white;
      width: 30%;
      height:900px;
      padding: 1rem;
      z-index: 5;
      text-align: center;
    }
  
    .left{
        margin-bottom: 50px;
        margin-right: 0;
    }

    .hamburger {
      display: block;
    }
  }

@media (max-width: 590px){
    .logo-img{
        width: 120px;
    }
    .logo{
        margin-left: 0;
    }
}

@media (max-width: 510px){
    .nav-item{
        font-size: 20px;
    }
    .right{
       margin: auto;
    }
}

@media (max-width: 410px){
    .logo-img{
        width: 90px;
    }
  
}